footer {
    background-color: #373434; 
    color: white;

    text-align: center; 
    position: fixed; 
    bottom: 0; 
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}


.left_image {
    width: 100px; 
    height: 100px; 
    margin: 5px; 
    padding: 4px;
    float: left;
  

}

.right_image {
    width: 155px; 
    height: 155px; 
    margin: 5px; 
    padding: 1px;
    float: right;
}